<div id="login">
    <section>
        <div class="col1">
        </div>
        <div class="col2">
            <form @submit.prevent autocomplete="off">
                <h1>Reset Password</h1>
                <div>
                    <label for="email1">Email</label>
                    <input v-model.trim="forgotPasswordForm.email" type="text" placeholder="your@email.com" id="email1" />
                    <div v-if="!$v.forgotPasswordForm.email.$error && submitted" class="invalid-feedback">
                        <span v-if="!$v.forgotPasswordForm.email.required">Email is required</span>
                        <span v-if="!$v.forgotPasswordForm.email.email">Email is invalid</span>
                    </div>
                    <button @click="resetPassword($v)" class="button">Sign Up</button>
                    <div class="extras">
                        <router-link to="/login">Back to Log In</router-link>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>